@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-bone text-forest selection:bg-sage selection:text-forest;
        /* Custom background gradient */
        background-image:
            radial-gradient(circle at 10% 20%, rgba(154, 181, 147, 0.15), transparent 30%),
            radial-gradient(circle at 90% 80%, rgba(224, 122, 95, 0.1), transparent 30%);
        background-attachment: fixed;
    }
}

@layer utilities {
    .glass-panel {
        @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-xl;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Ocultar el ícono de ojo por defecto en Microsoft Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Fix model-viewer default behavior */
model-viewer {
    width: 100%;
    height: 100%;
    --poster-color: transparent;
    outline: none;
}